nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 15px;
  border-bottom: 1px solid white;
}

.nav-bar {
  height: 65px;
}

.nav-bar a:hover {
  border-bottom: 2px solid gold;
}

.nav-bar a {
  text-decoration: none;
  // margin-left: 24px;
  font-weight: 500;
  font-size: 25px;
  color: white;
}